*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}





.body{
    width: 100%;
    height: 158vh;
    /* background-color: red; */
    background:  rgba(43, 38, 38, 0.7) url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-blend-mode: color-burn;
    background-size: cover;

}


#icon{
    padding-top: 2.2rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1c1c28;
    overflow: hidden;

}

#back{
    margin-top: 0rem;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#wrapper{
    height: 80vh;
    background-repeat: no-repeat;
}

.heading{
    padding-top: 1rem;
    font-size: 0.6rem;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
}

button{
    padding: 3px;
    background-color: #f68e5f;
    border-radius: 3rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}

/* here the container is edited */

.sub{
    height: 60vh;
    width: 42vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.container_class{
    height: 60vh;
    width: 38vh;
    /* background-color: rgb(63, 47, 155); */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(189, 158, 158, 0.15);  
    backdrop-filter: blur(5px);
    flex-direction: column;
    border-radius: 1rem;
}

.upper_div{
    height: 36vh;
    margin-bottom: 1.3rem;
}

.upper_div img{
    width: 33vh;
    height: 37vh;
}
.mid_div{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding-bottom: 1rem;
}

.lower_div{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* gap: 1rem; */
    margin-bottom: 0.2rem;
    font-size: 12px;

}
.left_lower{
display: flex;
align-items: center;
justify-content: center;
gap:1rem;
}
.right_lower{
    right: 100%;
}

.icon_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.btn{
    width: 7rem;
    padding: 12px;
    border-radius: 2rem;
    border: none;
    background-color:#f68e5f;
    color: white;
}


#heading{
    font-size: 1.2rem;
}
#one{
    font-weight: bold;
}

.icon_added{
    fill: yellow;
}
.Card{
    padding-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1.3rem;
}
